<h1>Q & A</h1>
<p>
  疑問点やパーティの相談、攻略質問、<br>
  またこのサイトへの要望や、ユニット評価への疑問など自由にお寄せください。<br>
  回答したものについてはここで公開します。
</p>

<%= form_for @questions do |f| %>

  <%= f.text_field :name, placeholder: "お名前（任意）" %>
  <%= f.text_area :body, placeholder: "本文（必須）" %>
  <%= f.submit "送信" %>

<% end %>