<h1>インフォメーション</h1>
<h2>このサイトについて</h2>
<p>
  　当サイトは、ラストピリオド（ラスピリ）の攻略情報やユニットの評価を、やりこみユーザ目線で記載するファンサイトです。
</p>
<p>
  　すべてのユニットではなく、星５を中心に評価に値するユニットのみを記載しています。またユニットは、レベル最大、15覚醒、ボード全開放の状態を前提に評価しています。
</p>
<p>
  　当サイトで「周回」という言葉は、主にオート周回イメージして使用しております。
</p>
<h2>管理人について</h2>
<p> 
  　当サイトは個人で運営しております。お問い合わせ等は以下のアドレスまでお願いします。
</p>
<p id="mail"></p>
<h2>著作権</h2>
<p>
  　当サイトは個人が運営している非公式のファンサイトであり、ラストピリオドの運営企業とは異なります。また、当サイトのすべての画像や攻略データの著作権は、ラストピリオドの運営元であるHappy Elements株式会社に帰属します。
</p>

<script type="text/javascript">
  var mail = document.getElementById('mail')
  var user = "kouchoubot";
  var at = "@";
  var server = "gmail.com";
  mail.textContent = user + at + server;
</script>