<p class="intro">Spranthesは、ラストピリオド（ラスピリ）の攻略情報やユニットの評価を、やりこみユーザ目線で記載するファンサイトです。</p>

<h1>ピックアップユニット</h1>
<p>現在開催されているイベントのユニットなどのコーナー</p>

<%= render 'shared/characters_table' %>

<% if @current_user.present? %>
<%= link_to "ログアウト", logout_path, class: "admin-button", method: :delete %>
<% end %>