# Ignore bundler files.
/.bundle
/vendor

# Ignore rbenv files.
.ruby-version

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

# Ignore secrets
/config/*.key

# Ignore character images
/app/assets/images/characters
/app/assets/images/material

# Ignore data backups
/db/import/data