<h1>ユニット評価</h1>

<%= link_to "周回評価", {controller: :characters, action: :evaluate} %>
<%= link_to "ギルバト評価", url_for({controller: :characters, action: :evaluate}) + "?guild=1" %>

<%= render 'characters_table' %>