<h1>ユニット一覧</h1>
<p>
  当サイトで扱っている全ユニットの一覧です。以下の検索フォームで条件を指定することもできます。
</p>
<%= render "search_form" %>

<% if params["character"].present? %>
<div class="alert-info", id="search-result">
  【 検索結果 】<br>
  <%= @cond_str %>
</div>
<% end %>

<%= render "shared/characters_table" %>