
/****************************************
  general
****************************************/

html {
  height: 100%;
}

body {
  min-width: 300px;
  max-width: 100%;
  height: 100%;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  color: #333;
}


/****************************************
  header
****************************************/

header {
  width: 100%;
  height: 60px;
  padding: 0 10px;
  font-size: 22px;
  line-height: 60px;
  background: #95bd55;
}

.header-wrapper {
  position: relative;
}

.logo {
  display: inline-block;
  height: 60px;
  color: #fff;
  padding-left: 60px;
  background: image-url("app_icon.png") no-repeat;
  background-size: 50px 50px;
  background-position: 0 5px;
}

.information {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: image-url("information.png") no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

/****************************************
  container
****************************************/

.overall-container {
  display: flex;
  width: 100%;
  padding: 15px 10px 0 10px;
  overflow: hidden;
}

/****************************************
  aside
****************************************/

aside {
  order: 1;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

#main-menu {
  display: flex;
  width: 100%;
}

.sub-menu,
.menu-header {
  display: none;
}


aside a {
  display: block;
  width: calc(100% / 3);
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  font-size: 13px;
  color: #333;
}

.current {
  background: #f6f6f6;
}

/****************************************
  main
****************************************/

main {
  order: 2;
  width: 100%;
  min-height: 80vh;
}

/* タグ初期設定 ----------------------------------*/

a {
  color: #518daf;
}

p {
  margin-bottom: 15px;
}

h1 {
  margin-bottom: 20px;
  position: relative;
  min-height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-bottom: 2px solid #95bd55;
  text-align: center;
}

h2 {
  margin: 25px 0;
  padding-left: 10px ;
  font-size: 17px;
  border-left: 3px solid #95bd55;
}

h3 {
  margin: 15px 0;
  font-size: 15px;
  font-weight: bold;
}

input, textarea, select {
  font-size: 16px;
}

textarea {
  width: 100%;
}

/* ボタン ----------------------------------*/

.search-button,
.admin-button,
.button {
  display: block;
  margin: 20px auto 20px auto;
  width: 80%;
  height: 60px;
  border-radius: 1px;
  border: 1px solid #95bd55;
  color: #95bd55;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  background: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

.admin-button {
  color: tomato;
  border-color: tomato;
}

.button:focus,
.admin-button:focus,
.search-button:focus {
  color: white;
  background: #95bd55;
}

/* アラート ----------------------------------*/

.alert-success,
.alert-info,
.alert-danger {
  margin: 20px 0;
  padding: 15px 10px 15px 10px;
  font-size: 12px;
  text-align: center;
}

.alert-success { background: aliceblue; }
.alert-info { background: beige; }
.alert-danger { background: mistyrose; }

/* マーカー ----------------------------------*/

.maker-red {
  background:linear-gradient(transparent 75%, #ffadad 75%);
  font-weight:bold; 
}
.maker-green {
  background:linear-gradient(transparent 75%, #cdf1b0 75%);
  font-weight:bold; 
}

/* トップページ ----------------------------------*/

.banner {
  display: block;
  width: 100%;
  margin: 30px 0;
}

.intro {
  margin-bottom: 20px;
  padding: 15px 10px 15px 10px;
  font-size: 12px;
  background: beige;
}

/* ユニットテーブル ----------------------------------*/

.characters-table {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  border-top : 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 12px;
}

.characters-table td,
.characters-table th {
  min-height: 100px;
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.characters-table tr:nth-child(even) {
  background: #f9f9f9;
}

.characters-table th {
  height: 40px;
}

.characters-table td > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #518daf;
  font-weight: bold;
}

.characters-table-icon {
  padding: 5px;
  width: 30%;
}

.characters-table-score {
  width: 20%;
  font-size: 18px;
}

.character-icon-image {
  margin: 5px auto;
  display: block;
  width: 60px;
  height: 60px;
}

/* ユニット詳細ページ ----------------------------------*/

.character-illust {
  display: block;
  margin: 0 auto;
  width: 60%;
  max-width: 300px;
}

.details-table {
  margin: 20px auto 20px auto;
  width: 86%;
  font-size: 12px;
}

.details-table tr {
  border: 1px solid #ddd;
}

.details-table th,
.details-table td {
  height: 25px;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #ddd;
}

.details-table td {

}

.details-table th {
  background: #f2f2f2;
  font-weight: bold;
}

.scores-table {
  margin: 0 auto 20px auto;
  width: 86%;
  font-size: 12px;
}

.scores-table tr {
  border: 1px solid #ddd;
}

.scores-table th,
.scores-table td {
  width: 50%;
  height: 25px;
  text-align: center;
  border-right: 1px solid #ddd;
}

.scores-table th {
  background: #f2f2f2;
  font-weight: bold;
}

.scores-table td {
  height: 70px;
  font-size: 20px;
}

.character-body  {
  padding-top: 10px;
  font-size: 15px;
}

.character-body > p {
  margin: 25px 0;
  line-height: 160%;
}

/* フォーム ----------------------------------*/

.form-character {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
}

.form-character-body,
.form-character-skill-description {
  resize: none;
  width: 100%;
  height: 80px;
  min-height: 80px;
}

.form-character-body {
  resize: vertical;
  height: 160px;
  min-height: 160px;
}

.label-block {
  display: block;
}

/* 評価一覧ページ ----------------------------------*/

.evaluate-button-wrapper {
  display: flex;
  margin: 30px auto 0 auto;
  width: 70%;
  height: 35px;
  line-height: 35px;
}

.evaluate-page-button,
.evaluate-page-button-active {
  display: block;
  width: 50%;
  border: 1px solid #95bd55;
  text-align: center;
  color: #333;
}

.evaluate-page-button-active {
  background: #95bd55;
  color: white;
}

/* ユニット検索ページ ----------------------------------*/

.search-table {
  margin-top: 30px;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 13px;
}

.search-box {
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.search-box-header {
  width: 50px;
  background: #f2f2f2;
  text-align: center;
  border-right: 1px solid #ddd;
}

.search-box-unselected {
  width: 20%;
  border-right: 1px solid #ddd;
}

.search-box-items {
  display: flex;
  flex-wrap: wrap;
}

.search-box-label,
.search-box-label2 {
  display: block;
  text-align: center;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
}

.search-box-label2 {
  height: 56px;
  line-height: 56px;
}

.search-box-items-rarity > label { width: calc(100% / 3); }
.search-box-items-property > label { width: 20%; }
.search-box-items-realm > label { width: 25%; }
.search-box-items-type > label { width: calc(100% / 3); }

.search-radio-button {
  display: none;
}

.search-radio-button:checked + span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #95bd55;
  color: white;
}

/* Q & A ----------------------------------*/

.new_question {
  margin: 25px auto;
  padding: 15px 0;
  border-top: 2px dashed #ddd;
  border-bottom: 2px dashed #ddd;  
}

.input-text, .textarea {
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #aaa;
  font-size: 18px;
}

.input-text {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
  height: 50px;
  line-height: 40px;
}

.textarea {
  display: block;
  padding: 5px;
  width: 100%;
  height: 160px;
  line-height: 25px;
  resize: none;
}

.input-text:focus,
.textarea:focus {
  border-color: #95bd55;
}

.input-text:focus::placeholder,
.textarea:focus::placeholder {
  color: #95bd55;
}

.question {
  padding: 10px 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
}

.answers-name {
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  height: 25px;
  line-height: 20px;
}

/****************************************
  footer
****************************************/

footer {
  margin-top: 50px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  background: #95bd55;
  text-align: center;
  color: white;
}