
/****************************************
  general
****************************************/

html {
  height: 100%;
}

body {
  min-width: 300px;
  max-width: 100%;
  height: 100%;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  color: #333;
}

/****************************************
  header
****************************************/

header {
  width: 100%;
  height: 60px;
  padding: 0 10px;
  font-size: 22px;
  line-height: 60px;
  border-bottom: 1px solid #ddd;
  background: #95bd55;
}

header > a { color: #fff; }

/****************************************
  container
****************************************/

.overall-container {
  display: flex;
  width: 100%;
  padding: 15px 10px 0 10px;
  overflow: hidden;
}

/****************************************
  aside
****************************************/

aside {
  order: 1;
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

aside > a {
  display: block;
  width: calc(100% / 3);
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  font-size: 13px;
}

aside > a:nth-child(3n) {
  border-right: none;
}

/****************************************
  main
****************************************/

main {
  order: 2;
  width: 100%;
}

h1 {
  position: relative;
  min-height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-bottom: 2px solid #95bd55;
  text-align: center;
}

h2 {
  margin: 20px 0;
  padding-left: 8px ;
  font-size: 16px;
  border-left: 3px solid #95db55;
}

h3 {
  margin: 15px 0;
  font-size: 15px;
  font-weight: bold;
}

.character-illust {
  display: block;
  margin: 0 auto;
  width: 60%;
  max-width: 300px;
}

.admin-button {
  display: block;
  margin: 20px auto 0 auto;
  width: 80%;
  height: 60px;
  border-radius: 1px;
  border: 1px solid #95bd55;
  color: #95bd55;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  background: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

/* table */

.characters-table {
  margin-top: 25px;
  width: 100%;
  border-top : 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 12px;
}

.characters-table td,
.characters-table th {
  min-height: 100px;
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.characters-table tr:nth-child(even) {
  background: #f9f9f9;
}

.characters-table th {
  height: 40px;
}

.characters-table td > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #518daf;
  font-weight: bold;
}

.characters-table-icon {
  padding: 5px;
  width: 30%;
}

/*.characters-table-flame::before,
.characters-table-leaf::before,
.characters-table-aqua::before,
.characters-table-light::before,
.characters-table-dark::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: gray;
}

.characters-table-flame::before { background: orangered; }
.characters-table-leaf::before { background: seagreen; }
.characters-table-aqua::before { background: skyblue; }
.characters-table-light::before { background: gold; }
.characters-table-dark::before { background: darkslateblue; }
*/
.characters-table-score {
  width: 20%;
  font-size: 15px;
}

.character-icon-image {
  margin: 5px auto;
  display: block;
  width: 60px;
  height: 60px;
}

.details-table {
  margin: 0 auto 20px auto;
  width: 86%;
  font-size: 12px;
}

.details-table tr {
  border: 1px solid #ddd;
}

.details-table th,
.details-table td {
  height: 25px;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #ddd;
}

.details-table td {

}

.details-table th {
  background: #f2f2f2;
  font-weight: bold;
}

.scores-table {
  margin: 0 auto 20px auto;
  width: 86%;
  font-size: 12px;
}

.scores-table tr {
  border: 1px solid #ddd;
}

.scores-table th,
.scores-table td {
  width: 50%;
  height: 25px;
  text-align: center;
  border-right: 1px solid #ddd;
}

.scores-table th {
  background: #f2f2f2;
  font-weight: bold;
}

.scores-table td {
  height: 70px;
  font-size: 20px;
}

.character-body  {
  padding-top: 10px;
  font-size: 15px;
}

.character-body p {
  margin-bottom: 15px;
}

/* form */

.form-character {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
}

.form-character-body,
.form-character-skill-description {
  resize: none;
  width: 100%;
  height: 80px;
  min-height: 80px;
}

.form-character-body {
  resize: vertical;
  height: 160px;
  min-height: 160px;
}

.label-block {
  display: block;
}

.button-wrapper {
  display: flex;
  margin: 40px auto 0 auto;
  width: 70%;
  height: 30px;
}

.evaluate-page-button,
.evaluate-page-button-active {
  display: block;
  width: 50%;
  line-height: 30px;
  border: 1px solid #95bd55;
  text-align: center;
}

.evaluate-page-button-active {
  background: #95bd55;
  color: white;
}


/****************************************
  footer
****************************************/

footer {
  margin-top: 50px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  background: #95bd55;
  text-align: center;
  color: white;
}