@media screen and (min-width : 768px) {

  body {
    overflow: visible;
    min-width: 1000px;
    background: #f6f6f6;
    font-size: 16px;
  }

  /* header ----------------------------------------------*/

  header {
    height: 70px;
    min-width: 1000px;
    margin-bottom: 40px;
  }

  .header-wrapper {
    margin: 0 auto;
    width: 1000px;
    background: #95bd55;
  }

  .logo {
    padding-left: 80px;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    padding-left: 70px;
    background: url(/assets/app_icon.png) no-repeat;
    background-size: 50px 50px;
    background-position: 0 10px;
  }

  .information {
    top: 15px;
  }

  /* overall ----------------------------------------------*/

  .overall-container {
    margin: 0 auto;
    width: 1000px;
    align-items: flex-start;
  }

  /* menu ----------------------------------------------*/

  aside {
    width: 200px;
    margin-right: 40px;
    display: block;
    border: none;
  }

  #main-menu,
  .sub-menu {
    padding-bottom: 5px;
    background: white;
  }

  .sub-menu {
    display: block;
    margin-top: 40px;  
  }

  .menu-header {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #95bd55;
    text-align: center;
    color: white;
    font-size: 18px;
  }

  aside a {
    margin: 5px 10px;
    padding-left: 5px;
    width: 180px;
    border: none;
    text-align: left;
    font-size: 16px;
    transition: all 120ms;
  }

  aside a:hover {
    /*border-bottom: 2px solid #95bd55;*/
    background: beige;
  }
  aside a:focus {
    /*border-bottom: 2px solid #95bd55;*/
  }

  .current {
    background: none;
    border-bottom: 2px solid #95bd55;
  }

  /* main ----------------------------------------------*/

  main {
    padding: 30px;
    order: 2;
    width: 740px;
    background: white;
    border: 1px solid #ddd;
  }

  h1 {
    font-size: 28px;
    text-align: left;
    line-height: 70px;
    border-bottom: 1px solid #ddd;
  }

  .alert-success,
  .alert-info,
  .alert-danger {
    margin: 20px auto;
    width: 500px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
  }

  .intro {
    margin-bottom: 20px;
    padding: 20px;
    font-size: 16px;
    border: 2px dashed #ddd;
  }

  .banner {
    margin: 30px auto;
    width: 400px;
  }

  /* table ----------------------------------------------*/

  .characters-table {
    margin: 0 auto 30px auto;
    width: 560px;
    font-size: 16px;
  }

  .characters-table-icon {
    width: 140px;
    font-size: 14px;
  }

  .characters-table-icon > a {
    transition: all 300ms;
  }

  .characters-table-icon > a:hover {
    color: #0e567c;
  }

  .character-icon-image {
    width: 70px;
    height: 70px;
  }

  .characters-table-score {
    font-size: 28px;
  }

  .evaluate-button-wrapper {
    margin-bottom: 30px;
    width: 400px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
  }

  .evaluate-page-button {
    transition: all 200ms;
  }

  .evaluate-page-button:hover {
    background: beige;
    color: #999;
  }

}