@media screen and (min-width : 768px) {

  body {
    overflow: visible;
    min-width: 1000px;
    background: #fafafa;
  }

  /* header ----------------------------------------------*/

  header {
    height: 70px;
    min-width: 1000px;
    margin-bottom: 40px;
  }

  .header-wrapper {
    margin: 0 auto;
    width: 1000px;
    background: #95bd55;
  }

  .logo {
    padding-left: 80px;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    color: #fff;
    padding-left: 70px;
    background: url(/assets/app_icon.png) no-repeat;
    background-size: 50px 50px;
    background-position: 0 10px;
  }

  /* overall ----------------------------------------------*/

  .overall-container {
    margin: 0 auto;
    width: 1000px;
  }

  /* menu ----------------------------------------------*/

  aside {
    width: 200px;
    margin-right: 40px;
    display: block;
    border: none;
    background: white;
  }

  aside::before {
    content: "メインメニュー";
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #95bd55;
    text-align: center;
    color: white;
    font-size: 15px;
  }

  aside > a {
    padding-left: 10px;
    width: 100%;
    border: none;
    text-align: left;
  }

  /* main ----------------------------------------------*/

  main {
    padding: 30px;
    order: 2;
    width: 740px;
    background: white;
    border: 1px solid #ddd;
  }

  h1 {
    padding-left: 10px;
    font-size: 28px;
    text-align: left;
  }

  .alert-success,
  .alert-info,
  .alert-danger {
    margin: 20px auto;
    width: 500px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
  }

}