body {
  position: relative;
  min-height: 100%;
  font-family: sans-serif;
}

body,
main,
header,
footer,
nav,
section,
article,
h1,
h2,
h3,
p,
div,
span,
a,
ul,
li,
table,
tr,
th,
td,
img,
form,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  text-decoration: none;
  box-sizing: border-box;
  flex-wrap: wrap; 
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  text-align: left;
  color: #333;
}
 a { text-decoration: none; } 
 a:hover { text-decoration: none; } 

/*
  flexについて
  
  もともとflexboxのコンセプトは、flexを指定した要素内の子要素をすべて横並びに表示するというもの。
  そのため、 width で幅が指定されていても、すべての要素が横に入り切らない場合は、入るように縮小して表示する。
  flex-shrink はその設定を行う。
  0を指定すると縮小しない、1を指定すると均等な幅に縮小する。
  ついでに flex-grow は拡大の設定をする。
  0だと拡大しない、1だと均等に要素の幅いっぱいまで拡大する。
  初期値は flex-grow: 0 flex-shrink: 1; になっているため、要素が入り切らない場合は縮小される。
  そこで flex-shrink: 0; にすれば縮小はされないものの、下段にオーバーラップせず、要素を突き抜けて横に配置されてしまう。
  そこで flex-wrap を wrap にすることで入り切らない要素を下段に落とすことができる。
*/